body {
  background-color: blanchedalmond!important;
}
.image{
  width: 70%;
  height: 100px;
  margin-left: 180px;
}
h2 {
  text-align: center;
  color:darkblue!important;
  font-family: 'Courier New', Courier, monospace;
}
#gameDisplay{
  font-family: 'Times New Roman', Times, serif;
  color: #000080;
  text-align: center;
}
#picture{
  height: auto;
  width: auto;
}
.box {
  border: 2px solid darkblue;
  padding: 10px;
  border-radius: 15px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white!important;
  text-align: center;
  padding: 5px;
}
